.cuadro{
    border: solid black;
    height: 550px;
    width:500px;
    background-color: rgba(212, 206, 206, 0.692);


}



input {
    background-color: #212121;
    
    height: 40px;
    width:414px ;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    position: relative;left: 10px; top: -65px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: #e5e109;
    background-color: #212121;
    outline-color:#e5e109d3;
    box-shadow: -3px -3px 15px#e5e109d3;;
    transition: .1s;
    transition-property: box-shadow;
  }

  .input2 {
    background-color: #ffe602;
    
    height: 40px;
    width:414px ;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    position: relative;left: 10px; top: -65px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input2:focus {
    color: #000000;
    background-color: #ffe602;
    outline-color:#000000d3;
    box-shadow: -3px -3px 15px#000000d3;;
    transition: .1s;
    transition-property: box-shadow;
  }

  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
  /* From Uiverse.io by andrew-demchenk0 */ 
.container {
    --input-focus: #ebe41b;
    --input-out-of-focus: #ccc;
    --bg-color: #000000;
    --bg-color-alt: #666;
    --main-color: #000000;
    position: relative;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  

  